@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

@ctrl-bg: rgba(50,50,50,.8);
@base-font: 'Source Sans Pro', sans-serif;

* {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: @base-font;
    font-weight: 300;
    font-size: 12px;
    overflow: hidden;
    b, strong {
        font-weight: 600;
    }
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -276px;
    margin-top: -276px;
    width: 600px;
    height: 600px;
    cursor: move;
}

.dashed {
    outline: 2px dashed rgba(255,0,0,1);
    outline-offset: -10px;
}
.dotted {
    outline: 2px dotted rgba(255,0,0,1);
}

.img {
    position: absolute;
    width: 600px;
    height: 600px;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;        
    }
    #theimg {

    }
    .instructions {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        font-size: 20px;
        color: #fff;
        z-index: 2000;
    }
}

.pt {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 15px;
    background-color: #F00;
    cursor: pointer;
}

.gridi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('psgrid.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.help {
    background: @ctrl-bg;
    padding: 20px;
    position: absolute;
    top: -60px;
    right: 150px;
    width: 400px;
    // margin-top: 10px;
    font-size: 14px;
    color: #fff;
    .toggle-help {
        cursor: pointer;
        text-decoration: underline;
        text-align: right;
    }
    .content {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 5px 0 5px 20px;
        }
    }
}

.controls {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background: @ctrl-bg;
    padding: 10px;
    width: 130px;
    height: auto;
    border-bottom-left-radius: 5px;
    z-index: 9999;

    hr {
        display: block;
        clear: both;
        border: 0;
        background: transparent;
        height: 1px;
        border-bottom: 1px solid #666;
        margin: 10px 0;
        &:before, &:after {
            clear: both;
        }
    }

    .action-buttons {
        margin-top: 10px;
        text-align: center;
        .b {
            cursor: pointer;
            background: #000;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            border-radius: 30px;
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            i {
                cursor: pointer;
                margin-top: 10px;
            }
        }
        .small {
            display: inline-block;
            vertical-align: top;
            width: 86px;
            .b {
                cursor: pointer;
                font-size: 12px;
                width: 24px;
                height: 24px;
                margin-bottom: 4px;
                i {
                    cursor: pointer;
                    margin-top: 6px;
                }
            }
        }
        .big {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }

    div {
        display: block;
        clear: both;
        color: #fff;

        input {
            border: 0;
            background: #fff;
            // width: 50px;
            // float: right;
            font-size: 12px;

            float: left;
            width: auto;
            margin-right: 10px;
            border-bottom: 1px solid rgba(0,0,0,0.5);
        }
        input[type=number], input[type=text] {
            float: right;
            max-width: 40px;
        }
    }

    input {

    }

    .settings {
        .title {
            font-weight: bold;
            margin-bottom: 4px;
        }
    }

    .toggle-help {
        margin-top: 10px;
        text-align: right;
        cursor: pointer;
    }
}

.ui-slider-horizontal {
    height: 4px;
    background: transparent;
    margin-left: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-widget-content {

}
.ui-slider .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
}


