@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

@ctrl-bg: rgba(50,50,50,.8);
@base-font: 'Source Sans Pro', sans-serif;
@transition: filter .2s ease-in-out;

* {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: @base-font;
    font-weight: 300;
    font-size: 12px;
    overflow: hidden;
    b, strong {
        font-weight: 600;
    }
}

@keyframes lds-dual-ring {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 9999999;
    // display: none;
    .content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: auto;
        width: auto;
        height: auto;
        .msg {
            display: block;
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
        }
        .anim {
            display: block;
            width: 90px;
            height: 80px;
            transition: 1s ease-in-out;
            margin: auto;
            &:after {
                content: " ";
                display: block;
                width: 64px;
                height: 64px;
                margin: 8px;
                border-radius: 50%;
                border: 6px solid #fff;
                border-color: #fff transparent #fff transparent;
                animation: lds-dual-ring 1.2s linear infinite;
            }
        }
    }
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -276px;
    margin-top: -276px;
    width: 600px;
    height: 600px;
    // cursor: move;
}

.dashed {
    outline: 2px dashed rgba(255,0,0,1);
    outline-offset: -10px;
}
.dotted {
    outline: 2px dotted rgba(255,0,0,1);
}

.img {
    position: absolute;
    width: 600px;
    height: 600px;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;        
    }
    #filtered {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .instructions {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        font-size: 20px;
        color: #fff;
        z-index: 2000;
        text-shadow: 2px 2px #000;
    }
}

.pt {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 15px;
    border: 8px solid #f00;
    mix-blend-mode: luminosity;
    cursor: pointer;
}

.gridi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('psgrid.png') no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0;
}

.help {
    background: @ctrl-bg;
    padding: 20px;
    position: absolute;
    top: -100px;
    right: 350px;
    width: 400px;
    // margin-top: 10px;
    font-size: 14px;
    color: #fff;

    max-height: 560px;
    overflow-y: scroll;

    .toggle-help {
        cursor: pointer;
        text-decoration: underline;
        text-align: right;
    }
    .content {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 5px 0 5px 20px;
        }
    }
}

.controls {
    position: fixed;
    top: 0;
    right: 0;
    background: @ctrl-bg;
    padding: 10px;
    height: auto;
    border-bottom-left-radius: 5px;
    z-index: 9999;

    display: table;

    .col {
        // display: table-cell;
        display: inline-block;
        width: 135px;
        vertical-align: top;
        &.left {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #666;
        }
    }

    .blendmode {
        margin-bottom: 10px;
    }

    .be {
        display: none;
        background: rgba(0,250,250,.15);
    }

    hr {
        display: block;
        clear: both;
        border: 0;
        background: transparent;
        height: 1px;
        border-bottom: 1px solid #666;
        margin: 10px 0;
        &:before, &:after {
            clear: both;
        }
    }

    .action-buttons {
        margin-top: 10px;
        text-align: center;
        .b {
            cursor: pointer;
            background: #000;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            border-radius: 30px;
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            i {
                cursor: pointer;
                margin-top: 10px;
            }
        }
        .small {
            display: inline-block;
            vertical-align: top;
            width: 86px;
            .b {
                cursor: pointer;
                font-size: 12px;
                width: 24px;
                height: 24px;
                margin-bottom: 4px;
                i {
                    cursor: pointer;
                    margin-top: 6px;
                }
            }
        }
        .big {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }

    div {
        display: block;
        clear: both;
        color: #fff;

        input {
            border: 0;
            background: #fff;
            // width: 50px;
            // float: right;
            font-size: 12px;

            float: left;
            width: auto;
            margin-right: 10px;
            border-bottom: 1px solid rgba(0,0,0,0.5);
        }
        input[type=number], input[type=text] {
            float: right;
            max-width: 40px;
        }
    }

    input {

    }

    .settings {
        .col {

        }
        .title {
            font-weight: bold;
            margin-bottom: 4px;
            text-transform: capitalize;
        }
    }

    .toggle-help {
        margin-top: 10px;
        text-align: right;
        cursor: pointer;
    }
}

.togglers {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    .btn {
        cursor: pointer;
        display: inline-block;
        width: auto;
        clear: none !important;
    }
}

.sldr {
    padding-bottom: 4px;
    .title {
        text-transform: capitalize;
        span {
            opacity: .8;
            font-weight: 300;
            float: right;
        }
    }
}

.ui-slider-horizontal {
    height: 4px;
    background: transparent;
    margin-left: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-widget-content {

}
.ui-slider .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
}

.bgpalette, .imgpalette {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: @transition;
    &.boost {
        filter: saturate(1.2) contrast(1.2) brightness(1.2);
    }
    .color {
        display: block;
    }
}

.bgpalette {
    z-index: -1;
}

.imgpalette {
    width: 100%;
}

.disabled {
    opacity: .3;
}
